* {
	display: float;
	padding: 0px 0px;
	margin: 0px 0px;
}

ul {
	list-style-type: none;
}
	

body {
	background-color: #fff;
	font-size: 1em;
	font-family: Verdana;
	font-weight: bold;
}

.wswserver {
	float: left;
	color: #fff;
	background-color: #000;
	float: left;;
	margin-top: 30px;
	margin-left: 20px;
	padding: 10px 10px;
}

.hostname {
	font-size: 1.4em;
	border-bottom: 3px solid #fff;
}

.gamename {
	font-size: .9em;
	font-family: Verdana;
	text-align: center;
	font-variant: small-caps;
	padding: 4px 0px;
	padding-top: 5px;
}

.topscores {
	position: float;
	font-size: 1em;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 8px;
	background-color: #555;
}

.score {
	font-family: sans;
	display: inline;
	padding: 0px 15px;
}

.basicinfo {
	float: left;
	background-color: #333;
	width: 100%;
	font-size: 1.3em;
	border-bottom: 2px solid #000;
	opacity:0.8;
}

.basicinfo ul {
	width: 100%;
}

.basicinfo li {
	display: inline;
	background-color: #333;
	padding: 0px 5px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.mapname {
	float: left;
}

.clientinfo {
	float: right;
}

.clients {
	background-color: #555;
	color: #fff;
	margin-top: 2px;
	border: 1px solid #ddd;
}

.playerline li {
	display: inline;
}

.player {
	text-align: left;
	font-family: arial;
	font-size: .9em;
	padding: 1px 3px;
}

.playerscore {
	text-align: right;
}

.player + .player {
	border-top: 1px solid #fff;
	margin-top: 3px;
}

.carrot0 { color:#000; }
.carrot1 { color:#F00; }
.carrot2 { color:#0F0; }
.carrot3 { color:#ff0; }
.carrot4 { color:#00f; }
.carrot5 { color:#0ff; }
.carrot6 { color:#f0f; }
.carrot7 { color:#fff; }
.carrot8 { color:#ff8000; }
.carrot9 { color:#808080; }

.t_alpha { background-color: #f00; }
.t_beta {background-color: #00f; }
