.wsw_server {
	position: float;
	color: #fff;
	background-color: #000;
	float: left;;
}

.hostname {
	padding: 5px;
	font-size: 1.5em;
	border-bottom: 3px solid #333;
}

.mapname {
	float: left;
	padding-left: 5px;
}

.clients {
	float: right;
	padding-right: 5px;
}

.carrot0 { color:#000; }
.carrot1 { color:#F00; }
.carrot2 { color:#0F0; }
.carrot3 { color:#ff0; }
.carrot4 { color:#00f; }
.carrot5 { color:#0ff; }
.carrot6 { color:#f0f; }
.carrot7 { color:#fff; }
.carrot8 { color:#ff8000; }
.carrot9 { color:#808080; }
