* {
	display: float;
	padding: 0px 0px;
	margin: 0px 0px;
}

ul {
	list-style-type: none;
}
	

body {
	background-color: #fff;
	font-size: 1em;
	font-family: Verdana;
	font-weight: bold;
}

.wswserver {
	float: left;
	color: #fff;
	background-color: #000;
	float: left;;
	margin-top: 30px;
	margin-left: 20px;
	padding: 10px 10px;
	border: 2px solid #fff;
}

.hostname {
	font-size: 1.4em;
	padding: 0px 5px;
	border-bottom: 2px solid #24F;
}

.gamename {
	color: #000;
	background-color: #fff;
	float: left;
	width: 50%;
	font-size: 1.1em;
	font-family: Verdana;
	text-align: center;
	font-variant: small-caps;
	margin: 10px 0px;
	padding: 0px 0px;
}

.gamename .title {
	color: #fff;
	background-color: #192021;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	font-size: .6em;
	font-variant: normal;
	margin-bottom: -1px;
}

.topscores {
	position: float;
	float: left;
	width: 50%;
	font-size: 1em;
	text-align: center;
	margin: 4px auto;
	margin-top: 0px;
	background-color: #555;
}

.topscores .title {
	color: #fff;
	background-color: #192021;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	font-size: .6em;
	font-variant: normal;
	margin-bottom: -1px;
}

.levelshot {
	float: right;
	margin: 10px 0px;
}

.levelshot img {
	width 50%;
}

.basicinfo {
	float: left;
	background-color: #333;
	width: 100%;
	font-size: 1.3em;
	border-bottom: 2px solid #000;
	margin-top: 10px;
	opacity:0.8;
}

.basicinfo .title {
	float: left;
	width: 100%;
	color: #fff;
	display: block;
	background-color: #192021;
	font-size: .6em;
	margin-bottom: -8px;
}

.info {
	margin-top: -9px;
}

.mapname {
	float: left;
}

.clientinfo {
	float: right;
}

.clients {
	width: 100%;
	background-color: #555;
	color: #fff;
	margin-top: 2px;
	border: 1px solid #ddd;
}

.clients .title {
	color: #fff;
	text-align: center;
	background-color: #192021;
	font-size: .6em;
	font-variant: normal;
	margin-top: 0px;
	margin-bottom: -1px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.playerline {
	float: left;
}

.playerline li {

}

.player {
	text-align: left;
	font-family: arial;
	font-size: .9em;
	padding: 1px 3px;
	padding-top: 3px;
}

.playerscore {
	float: right;
}

.player + .player {
	border-top: 1px solid #fff;
}

.carrot0 { color:#000; }
.carrot1 { color:#F00; }
.carrot2 { color:#0F0; }
.carrot3 { color:#ff0; }
.carrot4 { color:#00f; }
.carrot5 { color:#0ff; }
.carrot6 { color:#f0f; }
.carrot7 { color:#fff; }
.carrot8 { color:#ff8000; }
.carrot9 { color:#808080; }

.team0 { opacity:.7; }
.team1 { }
.team2 { background-color: #8e1f1d; }
.team3 { background-color: #0155b4; }
.team4 { background-color: #0f0; }
.team5 { background-color: #ff0; }
